<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Jinalaya 2022</span>
        <a href="/bhaktidhams">Go to list of bhaktidhams</a>
    </div>
</footer>