<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/ss/home.css">

<div class="bg bg-dark text-center text-white">
    <div class="center">
        <h1>Jinalaya</h1>
        <p class="lead"> A Place of Worship! <br>Jain temples from around the world. <br>
            Feel free to share some of your own and comment on others!</p>
        <a href="/bhaktidhams" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
            Bhaktidhams</a>
    </div>
</div>
