<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Bhaktidham</h1>
    <div class="col-6 offset-3">
        <form action="/bhaktidhams" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="bhaktidham[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="mulnayak">Mulnayak</label>
                <input class="form-control" type="text" id="mulnayak" name="bhaktidham[mulnayak]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="bhaktidham[location]" required>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">                    
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Upload image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="bhaktidham[description]"></textarea>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success">Add dhaktidham</button>
            </div>
        </form>
        <a href="/dhaktidhams">List of Bhaktidhams</a>
    </div>
</div>

        
    